   /*---basic resets and sitewide settings---*/
* {box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Sans-serif;
}
html, body {
  height: 100%;
}


              /*---small screens up to 400px---*/

   /*-----topnav and logo-----*/

            /* -_-  MAKE HAMBURGERS!!!  -_- */
/* seriously, make a burger button drop-down menu for phones and maybe tablets // with left aligned oval logo // looks like I'll need some java... */
nav {
  display: grid;
  grid-template-columns: 15rem;
  justify-content: center;
  border-bottom: 2px solid black;
}
nav a{
  text-align: center;
  text-decoration: none;
  color: black;
}

.navlinks {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding-bottom: 1rem;
}
.logo {
  margin: 0 20%;
  width: 10rem;
  padding: .25rem 0 .625rem 0;
}
.active {
   font-weight: 700;
}

   /*-----container-----*/

 .container{
   min-height: 100%;
   position: relative;
  }
.last-item {
  margin-bottom: 1.875rem;
}

   /*-----main content-----*/
main {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: auto auto auto auto auto;
  column-gap: .5%;
  padding: 1.25rem;
}
.row1 {grid-row: 1;}
.row2 {grid-row: 2;}
.row3 {grid-row: 3;}
.row4 {grid-row: 4;}
.row5 {grid-row: 5; bottom: 0;}
.col1 {grid-column: 1;}
.col2 {grid-column: 2;justify-self: center;}
.col3 {grid-column: 3;}

.main-center {
  grid-column: 1 / span 4;
  justify-self: center;
}
h1 {
  margin: 1rem 0;
  display: none;
}
form {
  grid-column: 2;
  grid-row: 2;
  justify-content: center;
}
form p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  padding: .5rem;
  margin: 1.5rem 0 .75rem 0;
}
input[type=text] {
  width: 100%;
  padding: .75rem .5rem;
  margin: .75rem 0;
  border: none;
  border-bottom: 1px solid #C8C8C8;
  font-size: 1rem;
}
textarea {
  width: 100%;
  height: 8rem;
  border: 1px solid #C8C8C8;
  border-radius: 4px;
  font-size: 1rem;
  padding: .75rem;
}

input[type=submit] {
  cursor: pointer;
  width: 25%;
  min-height: 4vh;
  max-height: 8vh;
  border-radius: 4px;
  border: 1px solid #C8C8C8;
  background-color: #47D00B;
  color: #2B2B2B;
  font-size: 1rem;
}


.text {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
}
main h2 {
  line-height: 1.7rem;
  padding: 1.5rem 0 .75rem 0;
}
.text p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  text-indent: .5em;
}
table {
  margin: 0 auto;
  text-align: left;
}
td {
  padding: .1rem .15rem;
}


#map {
  grid-column: 1 / span 5;
  grid-row: 4;
  margin-top: 2rem;
  width: 100%;
  height: 50vh;
}


   /*-----footer-----*/
.content-end {
  width: 100%;
  height: 15rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15rem;
  background-color: black;
  text-align: center;
}
footer div {
  display: grid;
  grid-template-columns: 100%;
}
footer p {
  padding-top: 2px;
  color: #C8C8C8;
  font-size: .8rem;
}
footer a {
  padding: .875rem 0;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

                 /*--minor fix for screens from 400-500px --*/
@media (min-width: 400px){
  main {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  column-gap: .5%;
  padding: 1.25rem;
}
td {
  padding: .15rem .85rem;
 }
}
                 /*--mid-sized screens from 701-950px --*/
@media (min-width: 701px){
nav {
  grid-template-columns: 0% 19% 23% 19% 20% 19% 0%;
  justify-content: center;
}
.navlinks {
  font-size: 1.3rem;
  line-height: 2.5rem;
  padding: .75rem 0 0 0;
  grid-column: 1;
}
.logo {
  margin: 2% 20% 0 10%;
  height: 3.5rem;
  width: auto;
  grid-column: 2;
}
  .column3 {grid-column: 3;}
  .column4 {grid-column: 4;}
  .column5 {grid-column: 5;}
  .column6 {grid-column: 6;}
  .column7 {grid-column: 7;}
  
      /*-----main-content-----*/
h1 {
  display: grid;
}
form {
    margin-bottom: 2.2rem;
  }
main h2 {
  padding: 1.75rem 0 1rem 0;
}
  
          /*-----footer-----*/  
  
.content-end {
  height: 8rem;
}
footer {
  height: 8rem;
  text-align: center;
}
footer div {
  grid-template-columns: 15% 15% 15% 15%;
  grid-template-rows: 5rem 3rem;
  justify-content: center;
}
 footer div p {
   grid-column: 1 / span 4;
   grid-row: 2;
 }
 .foocol1 {
   grid-column: 1;
   padding-top: 1.5rem;
  }
  .foocol2 {
    grid-column: 2;
    padding-top: 1.5rem;
  }
  .foocol3{
    grid-column: 3;
    padding-top: 1.5rem;
  }
  .foocol4{
    grid-column: 4;
    padding-top: 1.5rem;
  }
}
                 /*--main content fix for screens from 951-1000px --*/
@media (min-width: 951px){
  main {
  display: grid;
  grid-template-columns: 9% 34% 34% 9%;
  grid-template-rows: auto auto auto auto auto;
  column-gap: 2%;
  padding: 1.25rem;
}
.col3 {grid-column: 3;justify-self: center;}
.col4 {grid-column: 4;}

h1 {
  display: grid;
}
form p {
  font-size: 1.4rem;
  margin: 1.5rem 0 .5rem 0;
}
input[type=text] {
  margin: .5rem 0;
}
textarea {
  height: 10rem;
  margin-bottom: .25rem;
}

.text {
  grid-column: 3;
  grid-row: 2;
  text-align: left;
  padding-left: 1.5rem;
}
main h2 {
  line-height: 1.7rem;
  padding: 1.5rem 0 .75rem 0;
}
.text p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}
  
}

                 /*--nav fix for 1001px to 1100px --*/
@media (min-width: 1001px){
nav {
  grid-template-columns: 5% 14% 35% 15% 16% 15% 0;
 }
.active {
  background-color: #C8C8C8;
 }
 .active:hover {
  background-color: #C8C8C8;
 }
 nav a:hover {
   background-color: #7BEC1D;
   font-weight: 700;
   font-size: 1.35rem;
  }
 .laglink:hover {
   background-color: white;
   font-size: 1.2rem;
   font-weight: 400;
 }
 .footerlinks:hover {
    opacity: .8;
  }
}

                 /*--large screens 1101px and up--*/
@media (min-width: 1101px){
nav {
  grid-template-columns: 26% 10% 1.5% 12% 12.5% 12% 16%;
 }
 .logo {
    margin-left: 50%;
  }